* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.box {
  /* height: 243px;
  width: 443px; */
  background-color: rgb(30, 30, 30);
  border-radius: 32px;
  border-color: transparent;
  display: flex;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding-left: 20px;
}

.box p:nth-of-type(1) {
  position: relative;
  top: 40px;
}
.box p:nth-of-type(2) {
  position: relative;
  top: 140px;
}

.item {
  flex: 1 1 calc(33.33%-10px);
  box-sizing: border-box;
}
